@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --default-color: #329e5e;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: #000;
    font-family: 'Poppins';
}
