.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    cursor: pointer;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgb(241, 241, 241);
  }

  input::-webkit-slider-runnable-track {
    height: 7px;
    -webkit-appearance: none;
    color: var(--default-color);
    margin-top: -1px;
  }

  input::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background-color: rgb(241, 241, 241);
    box-shadow: -1000px 0 0 1000px var(--default-color);
  }

  .lb-donate {
    width: 88px;
    height: 30px;
    position: absolute;
    align-items: start;
    border-radius: 4px;
    top: -10px;
    left: -40px;
    color: hsl(0, 0%, 0%);
    pointer-events: none;
    background: var(--default-color);

    .spa-donate {
      width: 100%;
      position: absolute;
      top: 8px;
      left: 50%;
      text-align: center;
      font-size: 0.9em;
      transform: translateX(-50%);
      z-index: 5;
      color: white !important;
    }
  }
}